@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
background-color: snow;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}


.logo {
text-decoration: none;
color: blue;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}


.navigation a{
color: black;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px ;
}


.navigation a:hover{
    color: red;
}


section{
    padding: 300px 200px;
}


.Mercedes{
   color: white;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 12px 25px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    border: none;
}


.Mercedes:hover{
    background-color: red;
    transform: scale(1.1);
}


section{
    padding: 300px 200px;
}


.ma{
    width: 100%;
    min-height: 100vh;
    
    align-items: center;
    background: url(imgs/خلفيه.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.ma h2{
    color: cornsilk;
    font-size: 100px;
    font-weight: 500;
}


.ma h2 span{
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 3em;
    font-weight: 600;
}


.ma h3{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.ll a{
    color: white;
    font-size: 1.7em;
    padding: 20px;
}


.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 30px;
}


div.pmpm{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


div.mpmp {
  margin: 5px;
  border: 1px solid #ccc;
  width: 500px;
}


div.mpmp :hover{
  border: 1px solid #777;
}


div.mpmp div.desc {
  padding: 15px;
  text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    font-size: 15PX;
}


.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}


.card :hover{
transform: scale(1.1);
}


.icon{
    color: black;
    font-size: 8em;
    text-align: center;
}


.info{
    text-align: center;
}


.info h3{
    color: red;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.DD{
    font-size: 50px;
}


.form {
  background: black;
  padding: 1rem;
  border-radius: 12px;
}


.ha{
    color: white;
  display: flex;
  gap: 1rem;
}


input, select, textarea {
  width: 100%;
  padding: .9rem;
  border-radius: 15px;
  border: 1px solid red;
  margin-top: .9rem;
}



.mm{
   color: white;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 12px 25px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    border: none;
}


.mm:hover{
    background-color: red;
    transform: scale(1.1);
}


.mmm{
   color: white;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 12px 25px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    border: none;
}


.mmm:hover{
    background-color: red;
    transform: scale(1.1);
}


.full{
    color: white;
}


.footer{
  padding: 1rem 0;
  text-align: center;
  color: var(--muted);
}